{% load static bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">


    <!-- Bootstrap + Icons -->
    {% bootstrap_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>

<body class="d-flex align-items-center" style="background-color:#0B3D2E;">

    <div class="container p-5 d-flex justify-content-center align-items-center min-vh-100">

        <form class="p-4 rounded bg-white w-100 shadow" style="max-width: 500px;" method="POST" autocomplete="off">
            {% csrf_token %}

            <h2 class="text-center mb-4"><strong>Login</strong></h2>

            <!-- Mensagens -->
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger text-center">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <!-- Email -->
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" id="email" name="email" placeholder="Digite o seu email" class="form-control"
                    required>
            </div>

            <!-- Senha -->
            <div class="mb-3">
                <label for="password" class="form-label">Senha: </label>

                <div class="input-group">
                    <input type="password" id="password" name="password" placeholder="Digite o seu CPF se for o primeiro acesso"
                        class="form-control" required>

                    <button class="btn btn-outline-success" type="button" id="toggleSenha">
                        <i class="bi bi-eye" id="iconeSenha"></i>
                    </button>
                </div>
            </div>

            <!-- Link ajuda -->
            <div class="mb-3 text-end">
                <a href="{% url 'contato' %}" class="text-decoration-none small">
                    Problemas com a senha?
                </a>
            </div>

            <!-- Botão -->
            <div class="d-grid gap-2">
                <button class="btn btn-success w-100" type="submit" disabled>
                    Entrar
                </button>
            </div>

        </form>

    </div>

    {% bootstrap_javascript %}

    <script>
        const toggleSenha = document.getElementById("toggleSenha");
        const passwordInput = document.getElementById("password");
        const icone = document.getElementById("iconeSenha");

        toggleSenha.addEventListener("click", () => {
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icone.classList.remove("bi-eye");
                icone.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                icone.classList.remove("bi-eye-slash");
                icone.classList.add("bi-eye");
            }
        });
    </script>

    <script src="{% static 'js/desabilitarBotao.js' %}"></script>

</body>

</html>